@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --cor-primaria: #55D8CA;
    --cor-secundaria: #19B2AC;
    --cor-terciaria: #D50000;
    --cor-quaternaria: #f5f5f5;
    --cor-botao: #6F53E9;

    --font-primaria: "Lato", sans-serif;
} 

* {
    margin: 0;
    padding: 0; 
}
body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    display: flex;
    min-height: 100vh;
    overflow: auto;
}

.login {
    background-color: var(--cor-quaternaria);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    text-align: center;
    border-radius: 3px;
    font-weight: 600;
    padding: 21.5008px 0px;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-primaria);
    
}

.login__imagem {
    display: flex;
    margin: 0 auto;
    padding: 15px;
}

.login__input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px auto;
    text-align: left;
    padding: 8px;
    border-radius: 4px; 
}

.login__botao {
    /*como deixar tamanho igual aos imputs de forma mais dinamica?*/
    background-color: var(--cor-botao);
    color: var(--cor-quaternaria);
    display: block;
    margin: 0 auto; 
    padding: 8px 34%;
    border-radius: 4px;
}

.rodape {
    position: absolute;
    bottom: 0;
    height: 20px;
    width: 100%;
    padding: 24px;
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
    text-align: center;
    font-family: var(--font-primaria);
    font-size: 0.5rem;
    font-weight: 400;
}