@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --cor-primaria: #55D8CA;
    --cor-secundaria: #19B2AC;
    --cor-terciaria: #D50000;
    --cor-quaternaria: #f5f5f5;
    --cor-botao: #6F53E9;

    --font-primaria: "Lato", sans-serif;
} 

* {
    margin: 0;
    padding: 0; 
}

body {
    background-color: var(--cor-quaternaria);
    color: var(--cor-secundaria);
    font-family: var(--font-primaria);
    min-height: 100vh;
    overflow: auto;
}

.cabecalho {
    background-color: var(--cor-secundaria);
    position: absolute;
    height: 6.0rem;
    width: 100%;
}

.cabecalho__icone {
    padding: 0.93rem 0.93rem 0.93rem;
}

.cabecalho__conteudo {
    display: flex;
    position: row;
    justify-content: flex-start;
    align-items: center;
    font: var(--font-primaria);
    font-size: 0.75rem;
    font-weight: 40;
    color: var(--cor-quaternaria);
    padding: 0.80rem;
}

.email {
    padding: 7% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: row;
    margin: auto;
    width: 60%;
}

.email__menu {
    display: flex;
    position: row;
    width: 50%;

}

.email__titulo {
    display: flex;
    align-items: flex-start;
    
    font-size: 0.7rem;
    font-weight: 400;
    color: var(--cor-secundaria);
}

.email__acoes {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    position: row;
    
    font-size: .3125rem;
    font-weight: 400;
    color: var(--cor-botao);
    font-size: .625rem;
    gap: .625rem;
}

.email__acoes__icone__soma {
    width: 1.125rem;
}

.email__acoes__icone__lixeira {
    width: 1.375rem
}

.email__table {
    width: 100%;
    border-collapse: collapse;
    font: var(--font-primaria);
}

#email td, #email th {
    border: 1px solid var(--cor-quaternaria);
    padding: 8px;
}

#email tr:nth-child(even){
    background-color: var(--cor-quaternaria);
}

#email tr:hover {
    background-color: #f3edaa;
}

#email th {
    width: 100%; 
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--cor-secundaria);
    color: var(--cor-quaternaria);
}
